.main {
    background-color: rgb(208, 208, 208);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .statsModal {
    text-align: center;
  }

  .statsModal h1 {
    text-align: center;
    margin: 0;
  }

  .statsModal h2 {
    margin: 0;

  }

  .statsModal span {
    display: block;
    font-size: 2rem;
    text-align: center;
  }

  .statsModal th, .statsModal td {
    padding: 5px 10px;
  }

  .statsModal th {
    color: #55f
  }

  .statsModal button {
    padding: .7rem;
    margin: .7rem 0;
    background-color: rgb(108, 135, 255);
    border: none;
    border-radius: .4rem;
    font-weight: 700;
  }

  .statsModal button:hover {
    background-color: rgb(146, 166, 255);
  }

  .statsModal button:active {
    background-color: rgb(46, 84, 255);
  }