.App {
  height: 100%;
}

.main {
  background-color: rgb(208, 208, 208);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boardContainer {
  margin: 0 auto;
  width: min-content;
  background-color: rgb(208, 208, 208);
}

.board {
  position: relative;
}

.tile {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  transition: top 1s, left 1s;
  box-shadow: 5px 5px 10px rgba(59, 59, 59, 0.688);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #aaa;
  padding: 5px;
  line-height: 0;
}

.title {
  /* background-color: red; */
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  vertical-align: top;
}

.settingBtn {
  font-size: 30px;
}

.settingBtn:hover {
  color: #fff;
}

.settingBtn:active {
  color: #acacac;
}
