.App {
  height: 100%;
}

.main {
  background-color: rgb(134, 134, 134);
  height: calc(100% - 40px);
}

.boardContainer {
  margin: 0 auto;
  padding: .4rem;
  width: min-content;
  background-color: rgb(52, 52, 52);
}

.board {
  position: relative;
}

.tile {
  position: absolute;
  transition: top 1s, left 1s;
}

header {
  background-color: #555;
  padding: 5px;
  line-height: 0;
}

.title {
  /* background-color: red; */
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  vertical-align: top;
}
